body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: 20px;
  font-family: 'Poppins';
  font-style: normal;
}

.custom-container{
  display: flex;
}

.blocks-div{
  overflow: scroll;
  height: 100vh;

}

.val-block-text{
  font-size: 10px;
  height: 40vh;
  overflow: scroll;
}

.timer{
  margin-top: 10px;
  font-size: 20px;
}

.val-table{
  height: 100vh;
  overflow: scroll;
  margin-top: 10px;
}

th{
  font-size: 15px;
  font-family: 'Poppins';
  font-style: normal;
}

td{
  font-size: 20px;
  font-family: 'Poppins';
  font-style: normal;
}

th,td{
  padding: 10px;
}

.validators-page{
  margin-left: 50px;
}

.list_element{
  margin-left: 3px;
}

.blocks{
  display: flex;
  justify-content: center;
  align-items: center;
}