body {
  margin: 0;
}

h1{
    font-family: 'Poppins';
    font-size: 20px;
}

.menu-item{
  font-family: 'Poppins';
  font-size: 15px;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-collapsed{
  display: flex;
  align-items: center;
  justify-content: right;
  
}

.button{
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      font-size: 30px;
      margin-top: 0.7vh;
}

.widget-title{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(192, 192, 192, 1);
  width: 65%;
}



